<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>
      {% if page.title == "Home" %}
        {{ site.title }} // {{ site.tagline }}
      {% else %}
        {{ page.title }} // {{ site.title }}
      {% endif %}
    </title>
  </head>

  <body class="theme-base-0d">
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
          </h3>

          <nav class="nav">
            <a class="nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
              {% if node.title != null %}
                {% if node.layout == "page" %}
                  <a class="nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </nav>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>

      <div class="container footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
